// color
$color-purple: #b61984;
$color-bg: #dcd1f3;


//font-size
$fs-1: 0.75rem;
$fs-2: 0.8125rem;
$fs-3: 1.1rem;
$fs-4: 3.8rem;



//padding
$pd: 3.125rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//Margin
$mg-1: 0.7rem;
$mg-2: 8rem;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 12rem;




  
  /*style the arrow inside the select element:*/
 
  
  /*point the arrow upwards when the select box is open (active):*/
  
  
  /*style the items (options), including the selected item:*/
  
  
  /*style items (options):*/
  
  
  /*hide the items when the select box is closed:*/
  